@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Hachi+Maru+Pop&family=Lobster&family=Lora:ital@1&family=Poppins:wght@300;400&display=swap');

* {
    top: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 15px;
    background-color: white;
    position: fixed;
    width: 100%;
}

#navmenu {
    display: none;
}


.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    margin-left: 40px;
    cursor: pointer;
}

.navbar .navlogo img {
    height: 20px;
    cursor: pointer;

}

.navicon {
    display: flex;
}

.navbar .navicon img {
    height: 20px;
    padding-top: 5px;
    padding-left: 25px;
    cursor: pointer;

}
#close{
    display: none;
}
.notification {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    text-align: center;
    align-items: center;
    height: 120px;
    font-size: 15px;
    background-color: rgb(0, 0, 0);
    color: white;
}

.notification a {
    color: blue;
    text-decoration: none;
}

.backvideo video {
    width: 100%;
}

.productsection {
    background-color: rgb(245, 245, 247);
    margin-top: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.productlist {
    display: flex;
    justify-content: space-evenly;
}

.products {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
}

.products img {
    height: 120px;
}

.products a {
    text-decoration: none;
    padding-top: 30px;
    color: black;
}

.cardcontainer {
    text-align: center;
    height: 700px;
    padding-top: 30px;
}

.cardcontainer h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
}

.cardsection {
    padding-top: 40px;
    display: flex;
    justify-content: space-evenly;
}

.cards {
    background-color: rgb(250, 250, 250);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 370px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 30px;
    transition: 0.7s;
}

.cards img {
    height: 200px;
}

.cards:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.events {
    background-color: black;
    color: white;
    text-align: center;
}

.events h1 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.eventsimage {
    display: flex;
    justify-content: space-evenly;
}

.eventimage img {
    padding-top: 40px;
    height: 400px
}

.iphone {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 40px;
    padding-bottom: 30px;
}

.iphone img {
    height: 600px;
}

.footer {
    padding-top: 20px;
    background-color: rgb(245, 245, 247);
}

.footertitle {
    display: flex;
    padding-top: 10px;
    padding-left: 30px;
}

.footertitle img {
    height: 20px;
    padding-right: 10px;
}

.storeitems {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.storeitems ul {
    padding-top: 30px;
    list-style: none;
}

.storeitems ul li {
    padding-bottom: 5px;
    cursor: pointer;
}

.copyright {
    padding-top: 30px;
    text-align: center;
    padding-bottom: 30px;
}


@media only screen and (max-width:580px) {
    .navbar {
        justify-content: space-around;
        /* padding:2px 30px; */
        height: 50px;
    }
   .navicon{
    gap:50px;
   }
    .navbar ul {
        display: none;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        position: absolute;
        width: 100%;
        padding:10px 5px;
        gap:20px;
    }
    #close{
        display: block;
        height:30px;
        width:30px;
        position: relative;
        left:80%;
    }
    .notification {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 60px;
        font-size: 9px;
    }
    

    #navmenu {
        display: block;
        height: 25px;
    }

    .products img {
        height: 40px;
        width: 40px;
    }

    .products {
        font-size: 10px;
    }

    .cardcontainer {
        height: auto;
    }

    .cardsection {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        padding-bottom: 10px;
    }

    .cards {
        width: 350px;
    }

    .cards img {
        height: 180px;
    }

    .eventimage img {
        padding-top: 40px;
        height: 200px
    }

    .iphone img {
        height: 400px;
    }

    .iphone h3 {
        font-size: 30px;
    }

    .storeitems {
        font-size: 10px;
    }

    .copyright {
        font-size: 12px;
    }
}

@media only screen and (min-width:581px) and (max-width:1120px) {
    .navbar {
        justify-content: space-between;
        padding:2px 30px;
        height: 70px;
    }
    .navbar ul {
        display: none;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        position: absolute;
        width: 100%;
        padding:10px 5px;
        gap:20px;
    }

    #navmenu {
        display: block;
        height: 25px;
    }
    #close{
        display: block;
        height:30px;
        width:30px;
        position: relative;
        left:90%;
    }
    .notification {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 60px;
        font-size: 10px;
    }

    .products img {
        height: 70px;
        width: 70px;
    }

    .products {
        font-size: 15px;
    }

    .cardcontainer {
        height: auto;
    }

    .cardsection {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        padding-bottom: 10px;
    }

    .cards {
        width: 550px;
    }

    .cards img {
        height: 300px;
    }


    .eventimage img {
        padding-top: 40px;
        height: 200px
    }

    .iphone img {
        height: 400px;
    }

    .iphone h3 {
        font-size: 35px;
    }

    .storeitems {
        font-size: 15px;
    }

    .copyright {
        font-size: 12px;
    }
}